DJANGO_SECRET_KEY=change-this-dev-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
NEST_API_BASE_URL=http://localhost:3000/api/v1
IFRAME_CLIENT_ID=commerce-insights-iframe
IFRAME_REDIRECT_URI=http://localhost:8000/app/
IFRAME_SCOPES=product.read,inventory.read,order.read,review.manage
IFRAME_PARENT_ORIGINS=http://localhost:4200,http://localhost:4202
